.fondoImage{
    background-image: url("../../img/chatarra2.jpg");
    
    
    width: 100%;
    border: solid 2pt black;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tamanio{
    /*background-image: radial-gradient(circle at center, rgb(0, 0, 0) 0%, rgba(40,40,40,0.86) 70%), url("../../img/chatarra2.jpg");*/
    background-color: black;
    opacity: 0.5;
    background-repeat: no-repeat;
    display: flex;
    
    position: absolute;
    border: solid 2pt red;
    z-index: -1;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.contenido{
    height: auto;
    border: solid 2px red;
}

.scrap{
    /*border:solid 2pt green;*/
    margin: 7%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    

}

.titulo{
    margin-left: 10%;
    margin-top: 5%;
    font-family: "font-bmw";
    font-size: 40px;
}

.imagen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagen2{
    border: solid 1pt yellow;
    border-radius: 30px;
}

.textoScrap{
    /*border: solid 1pt black;*/
    
    width: 100%;
    padding: 3%;
    display: flex;
    justify-content: space-between;

}

/*Slider*/

.slider{
    width: 500px;
    height: 400px;
    margin-left: 50px;
}

.imagenSlider{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

