.fondoImage{
    background-image: radial-gradient(circle at center, rgb(0, 0, 0) 0%, rgba(40,40,40,0.86) 70%), url("../../img/chatarra2.jpg")!important;
    width: 100%;
    border: solid 2pt black;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tamanio{
    position: relative;
    
}

.contenido{
    height: auto;
    border: solid 2px red;
}

.scrap{
    border:solid 2pt green;
    margin: 10%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    

}

.titulo{
    margin-left: 10%;
    margin-top: 5%;
    font-family: "font-bmw";
    font-size: 40px;
}

.imagen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagen2{
    border: solid 1pt yellow;
    border-radius: 30px;
}

.textoScrap{
    border: solid 1pt black;
    margin-left: 20px;
    width: 100%;
    margin: 10px;
    display: flex;
}

/*Slider*/

.slider{
    width: 500px;
    height: 400px;
    margin-left: 50px;
}

.imagenSlider{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

