.containerFather{
    width: 100%;
    height: 120px;
    background-color: #1a7ab6;
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 15px;
    padding-bottom: 50px;
    
    /*border: solid 1pt white;*/
}

.footer{
    height: 150px;
}

.hijo{
    /*margin-right: 200px;
    margin-left: 200px;*/
    padding-bottom: 30px;
    
   /*border: solid 1pt white;*/
    color:white;
}

.hijo li {
    list-style: none;
    text-decoration: none;
}

.a:hover {
    color: cyan;
}

.hijo a{
    text-decoration: none;
}

.hijo

.titulo{
    padding-bottom: 6px;
}

.redes{
    background-color: #1a7ab6;
    color: white;
    align-items: center;
    text-align: center;
}
.redHijo{
    z-index: -1;
    background-color: #1a7ab6;
    display: flex;
    justify-content: center;
    

}

.redHijoli{
    text-decoration: none;
    list-style: none;
    display: inline;
}

#f{
    fill: white;
}