@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BMW';
    src:url("../../public/fonts/ac95f91c55cc591ecf37a4d136ff8031.eot");
    src :url("../../public/fonts/ac95f91c55cc591ecf37a4d136ff8031.ttf");
    src: url("../../public/fonts/ac95f91c55cc591ecf37a4d136ff8031.woff2"); /* IE9*/
    src: url("../../public/fonts/new.ttf");
  }